.Card {
  width: 18%;
  min-width: 130px;
  border: 1px solid transparent;
  font-size: 18px;
  display: flex;
}

.Card:hover {
  filter: brightness(0.9);
}
.Card label {
  font-family: "Poppins";
  font-weight: 500;
}

.Card img {
  object-fit: cover;
  width: 80%;
  border-radius: 5px;
  border: 1px dotted white;
}

.Dead {
  background-color: #f8ccce;
  border-radius: 10px;
  color: #9e0911;
  margin: 2px;
  padding: 2px;
  border: 1px solid #9e0911;
}

.Alive {
  background-color: #9df19c;
  border-radius: 10px;
  color: #0a6b09;

  margin: 2px;
  padding: 2px;
  border: 1px solid #0a6b09;
}

.unknown {
  background-color: #f8ccce;
  color: #9e0911;

  border-radius: 10px;
  margin: 2px;
  padding: 2px;
  border: 1px solid #9e0911;
}
